header {
 background-color: aquamarine;
 width: 1924 px;
 height: 200 px   
}

#T1 {
background-color: red
}

#T2 {
    background-color:aqua
    }

#T3 {
 background-color:blue
 }

#T4 {
   background-color: yellowgreen
}

#T5 {
    background-color: brown
}

#T6 {
    background-color:blueviolet
    }

#T7 {
    background-color: chocolate
}

#T8 {
    background-color: yellow
}

#T9 {
   background-color: cadetblue
}

#T10 {
    background-color: darkcyan
}

#T11 {
   background-color: chartreuse
}
#T12 {
    background-color: deeppink
}

#T13 {
   background-color: orange
}

#T14 {
    background-color: grey
}

#T15 {
    background-color: white
}

#T16 {
    background-color: black
}

footer {
background-color: aquamarine;
width: 1924 px;
height: 200 px;
}
