header {
 background: aquamarine;
 width: 1924 px;
 height: 200 px;   
}

#T1 {
background: red;
}

#T2 {
    background:aqua;
    }

#T3 {
 background:blue;
 }

#T4 {
    background: yellowgreen;
}

#T5 {
    background: brown;
}

#T6 {
    background:blueviolet;
    }

#T7 {
    background: chocolate;
}

#T8 {
    background: yellow;
}

#T9 {
    background: cadetblue;
}

#T10 {
    background: darkcyan;
}

#T11 {
    background: chartreuse;
}
#T12 {
    background: deeppink;
}

#T13 {
    background: orange;
}

#T14 {
    background: grey;
}

#T15 {
    background-color: white;
}

#T16 {
    background-color: black;
}

footer {
background-color: aquamarine;
width: 1924 px;
height: 200 px;
}
